
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="catalog/authors/create">Create Author</a></li>
        <li><a href="catalog/authors/list">Authors List</a></li>
    </ul>
</nav>