
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/catalog/authors/create">Create Author</a></li>
        <li><a href="/catalog/authors/list">Authors List</a></li>
        <li><a href="/catalog/genres/create">Create Genres</a></li>
        <li><a href="/catalog/genres/list">Genres List</a></li>
        <li><a href="/catalog/books/create">Create Books</a></li>
    </ul>
</nav>