
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/catalog/authors/create">Create Author</a></li>
        <li><a href="/catalog/authors/list">Authors List</a></li>
        <li><a href="/catalog/genres/create">Create Genres</a></li>
        <li><a href="/catalog/genres/list">Genres List</a></li>
        <li><a href="/catalog/books/create">Create Books</a></li>
        <li><a href="/catalog/books/list">Books List</a></li>
        <li><a href="/catalog/bookinstances/create">Create Book Instances</a></li>
        <li><a href="/catalog/bookinstances/list">Book Instances List</a></li>
        <li><a href="/accounts/signup">Sign Up</a></li>
        <li><a href="/accounts/login">Log in</a></li>
    </ul>
</nav>