<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <h1>Create new Author</h1>
        <form action="" method="POST">
            <div>
                <label for="first-name">
                    First Name
                    <input type="text" name = 'first_name' required 
                        maxlength="100" minlength="2"
                    >
                </label>
            </div>
            <div>
                <label for="last-name">
                    Last Name
                    <input type="text" name="last_name" required 
                        maxlength="100" minlength="2"
                    >
                </label>
            </div>
            <div>
                <label for="date-birth">
                    Date of Birth
                    <input type="date" name="date_of_birth" required>
                </label>
            </div>
            <div>
                <label for="date-death">
                    Date of Death
                    <input type="date" name="date_of_death">
                </label>
            </div>
            <div>
                <input type="submit" value="Create">
            </div>
        </form>
    
    </main>
    <%-include('../partials/footer.ejs') %>
</body>