<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <h1>Books in the Library</h1>
        <ul>
            <% if(books.length > 0) { %>    
                <% books.map(book =>{ %>    
                    <li><%=book.title%></li>
                <%})%>
            <%} else {%>
                <p>There are no books to display.</p>
            <%}%>
        </ul>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
</html>