<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <form action="" method="post">
            <h1>Create new Genre</h1>
            <div>
                <label for="name">
                    Genre Name:
                    <input type="text" name="name" id="name" required>
                </label>
            </div>
            <div>
                <input type="submit" value="Create Genre">
            </div>
        </form>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
</html>